.form {
  width: 100%;
  background-color: inherit;
  border-radius: 12px;

  &__row {
    min-height: 48px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__checkbox {
    display: block;
    margin-bottom: 24px;
  }

  &__error {
    margin-bottom: 12px;
    color: #ef4d4d;
    font-size: 12px;
  }

  &__disclaimer {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    margin-bottom: 12px;
    color: $blue-light;

    &:hover {
      opacity: .8;
    }
  }
}
